html {
	font-size: 10px;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	height: 100vh;
	min-height: 100vh;
	background-color: #000000;
}

.keys {
	margin: auto;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-image: url(src/pics/bg/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.key {
	margin: 1rem;
	padding: 1rem .5rem;
	width: 5rem;
	border: .4rem solid black;
	border-radius: .5rem;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 .5rem black;
	text-align: center;
	text-transform: uppercase;
	color: white;
	transition: all .07s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	margin-top: 1rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	color: #ffc600;
}